In [1]:
import pandas as pd

In [57]:
df_res = pd.read_csv('mock/resultado.csv')
df_combined = pd.read_csv('mock/combined_csv.csv')

In [58]:
df_res.head()

     X_test y_test y_pred
0  publique      O      O
1         -      O      O
2        se      O      O
3         .      O      O
4                O      O

In [6]:
df_res.shape

(325149, 3)

In [59]:
df_erros = df_res[df_res['y_test'] != df_res['y_pred']]
df_erros.head()

      X_test              y_test        y_pred
875       \n                   O  I_Precedente
876       \n                   O  I_Precedente
1632  artigo  B_Ref. Legislativa             O
1633          I_Ref. Legislativa             O
1634      24  I_Ref. Legislativa             O

In [72]:
df_erros[(df_erros['X_test']==' ') & (df_erros['y_test'].str.startswith('B_'))]
indices = df_erros[(df_erros['X_test']==' ') & (df_erros['y_test'].str.startswith('B_'))].index.values

In [86]:
n = 10
pos = indices[1]

print('Retorna %d linhas antes e depois do ocorrido na linha %d para tag que começa com B_'%(n,pos)),df_res.iloc[pos-n:pos+n]

Retorna 10 linhas antes e depois do ocorrido na linha 19073 para tag que começa com B_

(None,         X_test        y_test        y_pred
 19063        .  I_Precedente  I_Precedente
 19064           I_Precedente  I_Precedente
 19065      min  I_Precedente  I_Precedente
 19066        .  I_Precedente  I_Precedente
 19067           I_Precedente  I_Precedente
 19068  moreira  I_Precedente  I_Precedente
 19069           I_Precedente  I_Precedente
 19070    alves  I_Precedente  I_Precedente
 19071           I_Precedente  I_Precedente
 19072        –             O             O
 19073           B_Precedente             O
 19074      pet  I_Precedente  B_Precedente
 19075           I_Precedente  I_Precedente
 19076      129  I_Precedente  I_Precedente
 19077        /  I_Precedente  I_Precedente
 19078       pr  I_Precedente  I_Precedente
 19079        ,  I_Precedente  I_Precedente
 19080           I_Precedente  I_Precedente
 19081      rel  I_Precedente  I_Precedente
 19082        .  I_Precedente  I_Precedente)

In [87]:
df_res

                X_test y_test y_pred
0             publique      O      O
1                    -      O      O
2                   se      O      O
3                    .      O      O
4                           O      O
5             brasília      O      O
6                    ,      O      O
7                           O      O
8                   26      O      O
9                           O      O
10                  de      O      O
11                          O      O
12               julho      O      O
13                          O      O
14                  de      O      O
15                          O      O
16                2016      O      O
17                   .      O      O
18                          O      O
19                  \n      O      O
20                  \n      O      O
21                  16      O      O
22                          O      O
23                   -      O      O
24                          O      O
25                logo      O      O
26                   ,      O      O
27                          O      O
28             impende      O      O
29                          O      O
...                ...    ...    ...
325119                      O      O
325120               à      O      O
325121                      O      O
325122  caracterização      O      O
325123                      O      O
325124              da      O      O
325125                      O      O
325126           culpa      O      O
325127                      O      O
325128             não      O      O
325129                      O      O
325130            pode      O      O
325131                      O      O
325132             ser      O      O
325133                      O      O
325134           feita      O      O
325135                      O      O
325136              na      O      O
325137                      O      O
325138             via      O      O
325139                      O      O
325140        estreita      O      O
325141                      O      O
325142              da      O      O
325143                      O      O
325144      reclamação      O      O
325145               .      O      O
325146                      O      O
325147              \n      O      O
325148              \n      O      O

[325149 rows x 3 columns]

In [82]:
for i in indices:
    df.iloc[pos-n:pos+n]

106