In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('NER_EXPORT/161704902/treino_1/Documentos/564.ner.csv', 
                 delimiter=';', na_values='NaN')

In [3]:
# df = df.query("Token not in ['', ' ', '\\n']")
# df = df.query("Token not in ['', ' ']")

In [4]:
df.dropna(how='any', inplace=True)

In [5]:
df.head()

      Token Tag
0    EMENTA   O
1         :   O
2  EXECUÇÃO   O
3     PENAL   O
4         .   O

In [8]:
# df.query("Tag.str.contains('B_')", engine='python')
df.query("Tag not in 'O'")

                Token                 Tag
124              HHCC        B_Precedente
125           123.382        I_Precedente
126                 e        I_Precedente
127           123.425        I_Precedente
128                 ,        I_Precedente
129         Relatores        I_Precedente
130                 a        I_Precedente
131          Ministra        I_Precedente
132              Rosa        I_Precedente
133             Weber        I_Precedente
134                 e        I_Precedente
135                 o        I_Precedente
136          Ministro        I_Precedente
137              Dias        I_Precedente
138           Toffoli        I_Precedente
139                 ,        I_Precedente
140                1ª        I_Precedente
141             Turma        I_Precedente
142                 ,        I_Precedente
143                 j        I_Precedente
144                 .        I_Precedente
145                 ,        I_Precedente
146   respectivamente        I_Precedente
147                 ,        I_Precedente
148                em        I_Precedente
149        14/10/2014        I_Precedente
150                 e        I_Precedente
151        30/09/2014        I_Precedente
152                 )        I_Precedente
159           incisos  B_Ref. Legislativa
...               ...                 ...
5803          Senhora            B_Pessoa
5804         Ministra            I_Pessoa
5805             Rosa            I_Pessoa
5806            Weber            I_Pessoa
5807                .            I_Pessoa
5812         Senhores            B_Pessoa
5813        Ministros            I_Pessoa
5814            Marco            I_Pessoa
5815          Aurélio            I_Pessoa
5816                ,            I_Pessoa
5820          Roberto            B_Pessoa
5821          Barroso            I_Pessoa
5823            Edson            B_Pessoa
5824           Fachin            I_Pessoa
5825                .            I_Pessoa
5834               Dr            B_Pessoa
5835                .            I_Pessoa
5836            Paulo            I_Pessoa
5837          Gustavo            I_Pessoa
5838            Gonet            I_Pessoa
5839               \n            I_Pessoa
5840               \n            I_Pessoa
5841           Branco            I_Pessoa
5842                .            I_Pessoa
5845           Carmen            B_Pessoa
5846           Lilian            I_Pessoa
5847         Oliveira            I_Pessoa
5848               de            I_Pessoa
5849            Souza            I_Pessoa
5850               \n            I_Pessoa

[660 rows x 2 columns]

In [7]:
df.groupby('Tag').size().reset_index(name='Count')

                  Tag  Count
0       B_Doutrinador      2
1            B_Pessoa     19
2        B_Precedente     20
3  B_Ref. Legislativa     38
4       I_Doutrinador     62
5            I_Pessoa     59
6        I_Precedente    218
7  I_Ref. Legislativa    242
8                   O   5196